<div class="limiter">
    <div class="container-login100" >
        <div class="wrap-login100" style="padding-bottom: 150px">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="img-01.png" alt="IMG">
            </div>

            <form class="login100-form validate-form" action="/agemessage" method="POST">
                <span class="login100-form-title">
                    Enter Details
                </span>

                <div class="wrap-input100">
                    <input class="input100" type="text" name="fullname" placeholder="Full Name">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100">
                    <input class="input100" type="text" name="age" placeholder="Age">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Submit
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>