<div class="limiter">
    <div class="container-login100" >
        <div class="wrap-login100" style="padding-bottom: 150px">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="img-01.png" alt="IMG">
            </div>
            <span style="color: black; font-size:50px ">
                Name: {{validity.userName}}<br>
                Age: {{validity.age}}<br>
                Validity: {{validity.message}}<br>
            </span>
        </div>
    </div>
</div>